@charset "UTF-8";
/* Variables */
@import url("https://www.upc.edu.pe/static/css/fonts-familiy.css");
:root {
  --rojo: #D50000;
  --blanco: #ffffff;
  --negro: #000000;
  --negroLight: #222222;
  --gris: #707070;
  --grisLight: #797979;
  --titulo: calc(1rem + 2.8vw);
  --parrafo: calc(1rem + 0.1vw); }

/* Fuente */
/* Gothic A1 Fuente */
@font-face {
  font-family: "Nunito";
  src: url("../fuente/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: regular; }

@font-face {
  font-family: 'solano_gothic_mvb_stdBd';
  src: url("/static/fonts/solanogothicmvbstdbd-webfont.eot");
  src: url("/static/fonts/solanogothicmvbstdbd-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/solanogothicmvbstdbd-webfont.woff") format("woff"), url("/static/fonts/solanogothicmvbstdbd-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Mixins */
/* Globales */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Nunito"; }

h1, h2 {
  font-weight: 700;
  font-family: 'solano_gothic_mvb_stdBd', sans-serif;
  font-size: var(--titulo); }

p {
  font-weight: 400;
  font-size: var(--parrafo); }

.rojo {
  color: var(--rojo); }

.gris {
  color: var(--grisLight); }

.sliderCirculo {
  background-color: var(--grisLight) !important;
  border-radius: 50%;
  width: 1vw !important;
  height: 1vw !important; }

.carousel-indicators {
  margin: 0 !important; }
  .carousel-indicators .active {
    background-color: var(--rojo) !important; }

/* Header */
.header {
  background-image: url("../img/bg-1.svg");
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat; }
  .header .navbar {
    width: 80%;
    margin: 0 auto; }
    .header .navbar div {
      padding: 3vw 0;
      width: auto;
      margin-left: auto; }
      .header .navbar div img {
        width: calc(5px + 5vw); }
  .header .hero {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-column-gap: 5vw;
    align-items: center;
    margin-top: 6vw;
    position: relative; }
    .header .hero__imagen {
      position: relative;
      max-width: 100%; }
      .header .hero__imagen img {
        position: absolute;
        right: 0;
        left: 0;
        top: -20vw;
        width: 100%; }
    .header .hero__texto--separador {
      width: 30%;
      height: 0.3rem;
      margin: 3vw 0;
      background-color: var(--rojo); }
    .header .hero__texto--descarga {
      margin-top: 3vw; }
      .header .hero__texto--descarga img {
        width: 30%; }
    .header .hero .flecha {
      position: absolute;
      bottom: -10vw;
      left: 0; }

/* Información - 1er Slider */
.informacion {
  padding-top: 12vw;
  background-image: url("../img/bg-2.svg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat; }
  .informacion__slider .sliderGrid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    grid-column-gap: 5vw;
    margin-bottom: 50px; }
    .informacion__slider .sliderGrid p {
      margin: 3vw 0; }
    .informacion__slider .sliderGrid__imagen img {
      width: 100%; }

/* Noticias */
.noticias {
  background-image: url("../img/bg-3.svg");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 12vw; }
  .noticias h2 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6vw; }
  .noticias .sliderGrid__img {
    position: relative;
    text-align: center; }
    .noticias .sliderGrid__img--1 {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 5vw;
      width: 40%;
      opacity: 0.6;
      z-index: 0; }
    .noticias .sliderGrid__img--2 {
      width: 55%;
      position: relative;
      z-index: 1; }
  .noticias .sliderGrid__texto h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 3vw; }

.interface {
  padding-top: 12vw;
  padding-bottom: 12vw;
  background-image: url("../img/bg-5.svg");
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat; }
  .interface__contenedor {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-column-gap: 5vw;
    align-items: center; }
    .interface__contenedor--imagen img {
      width: 100%; }

.descarga {
  text-align: center;
  padding-top: 6vw;
  background-image: url("../img/bg-6.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }
  .descarga__contenedor {
    width: 80%;
    margin: 0 auto; }
    .descarga__contenedor--tienda {
      padding: 6vw 0; }

.footer {
  background-color: var(--negroLight); }
  .footer__contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 3vw 0;
    color: var(--white);
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr; }
    .footer__contenedor--texto {
      text-align: center; }
      .footer__contenedor--texto span a {
        color: var(--white);
        text-decoration: underline; }
    .footer__contenedor--upc {
      text-align: right; }
      .footer__contenedor--upc h5 {
        margin: 0; }
