/* Fuente */
/* Gothic A1 Fuente */
@import url('https://www.upc.edu.pe/static/css/fonts-familiy.css');

@font-face {
    font-family: "Nunito";
    src: url("../fuente/Nunito-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: regular;
}
@font-face {
    font-family: 'solano_gothic_mvb_stdBd';
	src: url('/static/fonts/solanogothicmvbstdbd-webfont.eot');
	src: url('/static/fonts/solanogothicmvbstdbd-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/solanogothicmvbstdbd-webfont.woff') format('woff'),
	     url('/static/fonts/solanogothicmvbstdbd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }