/* Fuente */
/* Gothic A1 Fuente */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@font-face {
    font-family: "Nunito";
    src: url("../fuente/Nunito-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: regular;
}
/* @font-face {
    font-family: "BebasNeue";
    src: url("../fuente/BebasNeue-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: bold;
}
 */