/* Variables */
:root{
    //Colores
    --rojo: #D50000;
    --blanco: #ffffff;
    --negro: #000000;
    --negroLight: #222222;
    --gris: #707070;
    --grisLight: #797979;

    //Tamaño de Letra
    --titulo: calc(1rem + 2.8vw);
    --parrafo: calc(1rem + 0.12vw);
    @media screen and (max-width:768px) {
        --titulo: calc(1rem + 7vw);
        --parrafo: calc(1rem + 0.1vw);
    }
}