@import "./variables";
@import "./fuente";
@import "./mixins";
@import "./globales";

/* Header */
.header{
    background-image: url("../img/bg-1.svg");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    @media screen and (max-width:768px){
        background-size: 150%;
    }
    .navbar{
        @include contenedor;        
        div{
            padding-top: 3vw;
            width: auto;
            margin-left: auto;
            img {
                width: calc(5px + 5vw);
            }
        }
        @media screen and (max-width:768px){
            div {
                img {
                    width: calc(15px + 10vw);
                }
            }
        }
    }
    .hero {
        @include contenedor;
        display: grid;
        grid-template-columns: 1fr 1fr;       
        grid-column-gap: 5vw;
        align-items: center;
        padding-top: 3vw;
        &__imagen {          
            position: relative;
            max-width: 100%;        
            img{
                position: absolute;
                right: 0;
                left: 0;
                top: -25vw;
                width: 100%;                
            }
        }
        &__texto{
            &--separador {
                width: 30%;
                height: 0.3rem;
                margin: 3vw 0;
                background-color: var(--rojo);
            }
            &--descarga {
                margin-top: 3vw;
                img {
                    width: 30%;
                }
            }
        }
        position: relative;
        .flecha{
            position: absolute;
            bottom: -6vw;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
        @media screen and (max-width:768px){
            .flecha{     
                position: relative;         
                width: 13%;                
                padding-top: 6vw;
                bottom: 0;
            }
            width: 100%;
            padding-top: 0;
           
            grid-template-columns: 1fr;
            grid-row-gap: 12vw;           
            &__imagen{
                
                height: 45vh;
                background-image: url("../img/cellupc.png");
                background-size: 145%;
                background-position: top center;
                img {
                    display: none;
                }
            }
            &__texto {
                @include contenedor;
                
                &--separador {
                    margin: 6vw 0;
                }
                &--descarga {
                    margin-top: 6vw;
                    img {
                        width: 49%;
                    }
                }
            }
     
        }
    }
}
/* Información - 1er Slider */
.informacion {
    padding-top: 12vw;
    background-image: url("../img/bg-2.svg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    h2{
        text-align: center;
        @include contenedor;
        margin-bottom: 6vw;
    }
    &__slider {     
        .sliderGrid{
            @include contenedor;
            display: grid;
            grid-template-columns: 1fr 0.9fr;
            align-items: center;
            grid-column-gap: 5vw;
            margin-bottom: 50px;
            h2{
                text-align: left;
                width: 100%;
            }
            p{
                margin: 3vw 0;
            }
   
            &__imagen{
                img {
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width:768px){       
        padding-top: 15vw;
        padding-bottom: 12vw;
        h2{
            margin-bottom: 12vw;
        }
        &__slider {     
            .sliderGrid{
                width: 100%;
                grid-template-columns: 1fr;
                grid-row-gap: 12vw;
                div:last-child {
                    @include contenedor;
                }
                &__texto{                   
                    min-height: 300px;
                }
            
            }
        }
    }
}

/* Noticias - 2do Slider */
.noticias {
    background-image: url("../img/bg-3.svg");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 12vw;
    h2{
        text-align: center;
        @include contenedor;
        margin-bottom: 6vw;
    }
    .sliderGrid__img{
        position: relative;
        text-align: center;
        &--1{
            position: absolute;
            left: 3vw;
            bottom: 0;
            top: 5vw;
            width: 50%;
            opacity: 0.6;
            z-index: 0;
        }
        &--2{
            width: 60%;
            margin-left: 6vw;       
            position: relative;
            z-index: 1;
      
        }
    }
    .sliderGrid__texto{
        h2{
            text-align: left;
            width: 100%;
            margin-bottom: 3vw;
        }    
    }
    @media screen and (max-width:768px){
        background-size: 150%;
        padding-top: 15vw;
        
        h2{
            margin-bottom: 12vw;
        }
            .sliderGrid{
                @include contenedor;
                div:last-child {
                    width: 100%;
                }
            }
        .sliderGrid__img{     
            text-align: right;       
            &--1{                
                top: 10vw;
                width: 60%;                
            }
            &--2{
                width: 75%;                  
            }
        }
        .sliderGrid__texto{
            min-height: 400px;
        }
    }
}
.interface {
    padding-top: 9vw;
    padding-bottom: 12vw;
    background-image: url("../img/bg-5.svg");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    &__contenedor{
        @include contenedor;
        display: grid;
        grid-template-columns: 0.9fr 1fr;
        grid-column-gap: 5vw;
        align-items: center;
        &--imagen{
            img {
                width: 100%;
            }
        }
    }
    @media screen and (max-width:768px){
        padding-top: 15vw;
        padding-bottom: 18vw;
        background-size: 150%;
        &__contenedor {
            width: 100%;
            grid-template-columns: 1fr;
            grid-row-gap: 12vw;
            &--texto {
                @include contenedor;
            }
        }
    }
}
.descarga {    
    h2{
        margin-bottom: 0;
    }
    text-align: center;
    padding-top: 6vw;
    background-image: url("../img/bg-6.svg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    &__contenedor{
        @include contenedor;
        &--tienda {
            padding-top: 3vw;
            padding-bottom: 6vw;
        }
    }    
    @media screen and (max-width:768px){
        padding-top: 15vw;
        &__contenedor{
            @include contenedor;
            &--tienda {
                padding: 12vw 0;
                img:first-child{
                    margin-bottom: 6vw;
                }
            }
        }  
    }
}
.footer{
    background-color: var(--negroLight);
    &__contenedor{
        @include contenedor;
        padding: 3vw 0;
        color: var(--white);
        align-items: center;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        &--texto {
            text-align: center;
            span{
                a{
                    color: var(--white);
                    text-decoration: underline;
                }
            }
        }
        &--upc {
            text-align: right;
            h2 {
                margin: 0;
            }
        }
    }
    @media screen and (max-width:768px){
        &__contenedor{
            padding: 12vw 0;
            grid-template-columns: repeat(2, 1fr);            
            grid-row-gap: 9vw;
            grid-template-areas: "primero"
                                "segundo tercero";
            &--texto{
                grid-area: primero;
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &--imagen{
                grid-area: segundo;
                grid-row-start: 2;
                grid-template-columns: 3;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &--upc{
                grid-area: tercero;
                grid-row-start: 2;
                grid-template-columns: 3;
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }
}