@import "./variables";
@import "./fuente";
@import "./mixins";
@import "./globales";

/* Header */
.header{
    background-image: url("../img/bg-1.svg");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    .navbar{
        @include contenedor;        
        div{
            padding: 3vw 0;
            width: auto;
            margin-left: auto;
            img {
                width: calc(5px + 5vw);
            }
        }
    }
    .hero {
        @include contenedor;
        display: grid;
        grid-template-columns: 1fr 0.8fr;
        grid-column-gap: 5vw;
        align-items: center;
        margin-top: 6vw;
        &__imagen {
            position: relative;
            max-width: 100%;        
            img{
                position: absolute;
                right: 0;
                left: 0;
                top: -20vw;
                width: 100%;                
            }
        }
        &__texto{
            &--separador {
                width: 30%;
                height: 0.3rem;
                margin: 3vw 0;
                background-color: var(--rojo);
            }
            &--descarga {
                margin-top: 3vw;
                img {
                    width: 30%;
                }
            }
        }
        position: relative;
        .flecha{
            position: absolute;
            bottom: -10vw;
            left: 0;
        }
    }
}
/* Información - 1er Slider */
.informacion {
    padding-top: 12vw;
    background-image: url("../img/bg-2.svg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    &__slider {     
        .sliderGrid{
            @include contenedor;
            display: grid;
            grid-template-columns: 1fr 0.9fr;
            align-items: center;
            grid-column-gap: 5vw;
            margin-bottom: 50px;
            p{
                margin: 3vw 0;
            }
   
            &__imagen{
                img {
                    width: 100%;
                }
            }
        }
    }
}

/* Noticias */
.noticias {
    background-image: url("../img/bg-3.svg");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 12vw;
    h2{
        text-align: center;
        @include contenedor;
        margin-bottom: 6vw;
    }
    .sliderGrid__img{
        position: relative;
        text-align: center;
        &--1{
            position: absolute;
            left: 0;
            bottom: 0;
            top: 5vw;
            width: 40%;
            opacity: 0.6;
            z-index: 0;
        }
        &--2{
            width: 55%;       
            position: relative;
            z-index: 1;
      
        }
    }
    .sliderGrid__texto{
        h2{
            text-align: left;
            width: 100%;
            margin-bottom: 3vw;
        }
    }
}
.interface {
    padding-top: 12vw;
    padding-bottom: 12vw;
    background-image: url("../img/bg-5.svg");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    &__contenedor{
        @include contenedor;
        display: grid;
        grid-template-columns: 0.9fr 1fr;
        grid-column-gap: 5vw;
        align-items: center;
        &--imagen{
            img {
                width: 100%;
            }
        }
    }
}
.descarga {    
    text-align: center;
    padding-top: 6vw;
    background-image: url("../img/bg-6.svg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    &__contenedor{
        @include contenedor;
        &--tienda {
            padding: 6vw 0;
        }
    }    
}
.footer{
    background-color: var(--negroLight);
    &__contenedor{
        @include contenedor;
        padding: 3vw 0;
        color: var(--white);
        align-items: center;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        &--texto {
            text-align: center;
            span{
                a{
                    color: var(--white);
                    text-decoration: underline;
                }
            }
        }
        &--upc {
            text-align: right;
            h5 {
                margin: 0;
            }
        }
    }
}